#new-heading {
    text-indent: 30px;
}

.form {
    width: 330px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--container-shadow);
    border-radius: var(--main-border-radius);
}

.form-section {
    margin-bottom: 1.4rem;
    display: flex;
    justify-content: space-between;
}

.form input, select {
    width: 150px;
}

.form input:first-child {
    width: 100px;
}

span {
    margin-left: 10px;
}

button {
    background-color: var(--tertiary-color);
    border: none;
    padding: 0.5rem 0;
    border-radius: var(--main-border-radius);
    cursor: pointer;
}