:root {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--secondary-color);

    --primary-color: #FDFDFF;
    --secondary-color: #231D57;
    --tertiary-color: #088FFA;
    --secondary-font-color: #727475;
    --main-border-radius: 8px;
    --container-shadow: 0 8px 60px 10px rgba(0, 0, 0, 0.08);
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

p {
    margin: 0;
    color: var(--secondary-color);
    cursor: default;
}

h1, h2 {
    margin: 0;
}

#main-content {
    padding-top: 60px;
}

header {
    background-color: var(--primary-color);
    padding: 50px 20px 35px 20px;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.10);
    width: 200px;
    min-height: 100%;
    float: left;
    margin-right: 80px;
}

.logo {
    background-color: var(--tertiary-color);
    height: 32px;
    margin-bottom: 40px;
    display: block;
}

#main-navigation > li > a {
    display: block;
    padding: 5px 8px 5px 16px;
    margin-bottom: 20px;
}

#main-navigation > li >a:hover {
    color: var(--tertiary-color);
}