html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --main-color: #052B52;
    --secondary-color: #E4EFFE;
    --tertiary-color: #88CCF3;
    --dark-blue: #041F3B;
    --main-border-radius: 8px;
}

body {
    height: 100%;
    margin: 0;
    background: white;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "header main";
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

p {
    margin: 0;
    color: var(--main-color);

}

#main-content {
    grid-area: main;
    width: 100%;
    padding: 3%;
}

header {
    height: 100%;
    background-color: var(--dark-blue);
    padding: 35px 20px;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19);
}

.logo {
    background-color: blue;
    height: 32px;
    margin-bottom: 40px;
    display: block;
}

#main-navigation {
    margin: auto;
}

#main-navigation > li > a {
    display: block;
    padding: 5px 8px 5px 16px;
    margin-bottom: 20px;
    color: var(--secondary-color);

}