{% extends 'base.html' %}

{% block content %}
    <h1 class="merchant-tag-heading">Edit merchant</h1>
    <div class="merchant-flex">
        <section class="edit-section">
            <form class="edit-form" action="/merchants/{{ merchant.id }}" method="post">
                <label for="updated_name">Change merchant name:</label>
                <input type="text" id="updated_name" name="updated_name" value="{{ merchant.name }}" required autofocus>
                <button class="update-button" type="submit">Update</button>
            </form>
        </section>
        <section class="current-section">
            <h2>Current merchants</h2>
            <ul>
                {% for merchant in merchants %}
                    <li class="current-list">
                        {{ merchant.name }}
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
    
{% endblock %}